<!doctype html>
<html>

  <head>
    <title>Leilão</title>
  </head>

  <body>
    <div>
      <h1>celular</h1>
      <img
        src="https://a-static.mlcdn.com.br/1500x1500/celular-samsung-galaxy-a-02-s-32gb-dual-sm-a025mzkvzto/gazinshop/9589/052ae7ff8a008d1e9724c2b6e9f71862.jpg"
        width="250" height="250">
      <span>value</span>
      <button>Dar um lance</button>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = window.io();

  </script>

</html>
