<!doctype html>
<html>

  <head>
    <title>Leilão</title>
  </head>

  <body>
    <div>
      <h1>celular</h1>
      <img>
      <span>value</span>
      <button>Dar um lance</button>
    </div>
  </body>

</html>
